.h1{
  padding-top: 25px;
  margin-bottom: 15px;
  color: #e98989;
  font-size: 45px;
  background-color: antiquewhite;
  height: 60%;
  width: 100%;
}

.p{
  font-size: 30px;
  padding-right: 20px;
}

.Meme{
  height: 60%;
  width: 100%;
}